data/raw/BoneMarrow/* filter=lfs diff=lfs merge=lfs -text
data/raw/PBMC/* filter=lfs diff=lfs merge=lfs -text
data/raw/Mus_musculus_TF.csv filter=lfs diff=lfs merge=lfs -text
data/raw/Homo_sapiens_TF.csv filter=lfs diff=lfs merge=lfs -text
data/raw/** filter=lfs diff=lfs merge=lfs -text
